# Telegram duplicate for contact form
TELEGRAM_BOT_TOKEN=
TELEGRAM_CHAT_ID=

# Email duplicate for contact form via Resend API
RESEND_API_KEY=
CONTACT_EMAIL_FROM=EkoSufity <formularz@ekosufity.pl>
CONTACT_EMAIL_TO=ekosufity@gmail.com
